<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>SSI-REST</display-name>
 <distributable/>
 <module-name>ssi-rest</module-name>
 <filter>
  <filter-name>GzipFilter</filter-name>
  <filter-class>net.sf.ehcache.constructs.web.filter.GzipFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>GzipFilter</filter-name>
  <url-pattern>*.css</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>GzipFilter</filter-name>
  <url-pattern>*.js</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>GzipFilter</filter-name>
  <url-pattern>*.html</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>SSI Servlet for RESTful</servlet-name>
  <servlet-class>com.github.ssi_rest.servlet.SsiRestServlet</servlet-class>
  <init-param>
    <param-name>com.github.ssi_rest.service.DelegatorJNDIName</param-name>
    <param-value>java:global/ssi-rest/SsiRestServiceDelegator</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.HTML_COMPRESSOR</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.COMPRESS_CSS</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.COMPRESS_JAVASCRIPT</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.ENABLE_I18N_FEATURE</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.ENABLE_I18N_RESOURCE_BUNDLE_JSON</param-name>
    <param-value>true</param-value>
  </init-param>
  <init-param>
    <param-name>com.github.ssi_rest.servlet.I18N_RESOURCE_BUNDLE_PACKAGE</param-name>
    <param-value>com.github.ssi_rest.i18n</param-value>
  </init-param>
  <!-- The following initialization parameters will default to the values shown -->
<!--   <init-param> -->
<!--     <param-name>com.github.ssi_rest.servlet.I18N_RESOURCE_NAME_SEPARATOR</param-name> -->
<!--     <param-value>_</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>com.github.ssi_rest.servlet.I18N_RESOURCE_NAME_SUFFIX</param-name> -->
<!--     <param-value>.properties</param-value> -->
<!--   </init-param> -->
  <init-param>
   <param-name>expires</param-name>
   <param-value>1</param-value>
  </init-param>
  <init-param>
   <param-name>buffered</param-name>
   <param-value>true</param-value>
  </init-param>
  <init-param>
   <param-name>isVirtualWebappRelative</param-name>
   <param-value>false</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>1</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>SSI Servlet for RESTful</servlet-name>
  <url-pattern>*.html</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>welcome.html</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>403</error-code>
  <location>/forbidden.html</location>
 </error-page>
 <error-page>
  <error-code>404</error-code>
  <location>/notFound.html</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/error.html</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.RuntimeException</exception-type>
  <location>/error.html</location>
 </error-page>
</web-app>
