// Forms
legend {
  margin-bottom: 5px;
  font-size: $baseFontSize * 1.3;
  line-height: $baseLineHeight * 1.5;
}

// Reset appearance properties for textual inputs and textarea
/* Declare width for legacy (can't be on input[type=*] selectors or it's too specific) */
input,
textarea,
.uneditable-input {
  width: 168px; // plus 12px padding and 2px border
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

// Make select elements obey height by applying a border
select {
  width: 170px; // default input width + 10px of padding that doesn't get applied
}

// Modals
.modal-header {
  padding: 3px 5px;
}
.modal-body {
  padding: 3px;
}
.modal-footer {
  padding: 4px 5px 5px;
}
